{% load job_tags %}
{% load cache %}
<div class="footer">
        <div class="line3">
            <div class="lineTop">
                <div class="top1">
                    <a href="" class="hotBtn">友情链接</a>
                </div>
                <div class="btnCon">
                    <a href="">拉勾网</a>
                    <a href="">教师网</a>
                    <a href="">照片</a>
                    <a href="">拉勾网</a>
                    <a href="">教师网</a>
                    <a href="">照片</a>
                    <a href="">拉勾网</a>
                    <a href="">教师网</a>
                    <a href="">照片</a>
                    <a href="">拉勾网</a>
                    <a href="">教师网</a>
                    <a href="">照片</a>
                    <a href="">照片</a>
                    <a href="">拉勾网</a>
                    <a href="">教师网</a>
                    <a href="">照片</a>
                    <a href="">照片</a>
                    <a href="">拉勾网</a>
                    <a href="">教师网</a>
                    <a href="">照片</a>
                    <p class="fr openTxt">展开<img src="../static/img2/open.jpg" alt="" class="fr"/></p>
                </div>
            </div>
        </div>
        <div class="fooTop mian">
            <div class="appBox fl">
                <p class="btnApp"><span></span>下载拉钩APP</p>
                <p class="btnApp"><span></span>微信小程序</p>
                <p class="btnTxt">
                    <img src="../static/img2/icon-wechat.png" alt=""/>拉钩微信
                    <img src="../static/img2/icon-sina1.png" alt=""/>拉钩微博
                </p>
            </div>
            <dl class="fl">
                <dt>企业服务</dt>
                <dd>招聘抢人宝典</dd>
                <dd>公司搜索</dd>
                <dd>拉钩APP</dd>
            </dl>
            <dl class="fl dlCen">
                <dt>企业服务</dt>
                <dd>招聘抢人宝典</dd>
                <dd>公司搜索</dd>
                <dd>拉钩APP</dd>
            </dl>
            <dl class="fl">
                <dt>企业服务</dt>
                <dd>招聘抢人宝典</dd>
                <dd>公司搜索</dd>
                <dd>拉钩APP</dd>
            </dl>
        </div>
        <div class="fooBottom">
            <div class="bottCon mian">
                <p class="txtP1 fl">&copy;2018 拉勾网 京ICP备12312343</p>
                <p class="txtP2 fl"><span class="fl"></span>京公安网备 110108099987658776号</p>
                <div class="txtBox fl">
                    <span class="fl"></span>
                    <p class="fl">
                        违法和不良信息举报<br>
                        电话:4007878<br>
                        邮箱:cc@lagou.com
                    </p>
                </div>
                <div class="fr imgBox"><img src="../static/img/footer_lagou.png" alt=""/></div>
            </div>
        </div>
    </div>