{% load job_tags %}
{% load cache %}
<div class="sear">
    <div class="searCon mian">
{#        <div class="search">#}
{#            <input type="text" placeholder="搜索公司,搜索职位或地点" class="searchInp fl"/>#}
{#            <a href="" class="btn fl">搜索</a>#}
{#        </div>#}
        <form role="search" method="get" id="searchform" class="search" action="/search">
            <div>
                <input type="text" value="" name="q" id="q"/>
                <input type="submit" id="searchsubmit" value="搜索"/>
            </div>
        </form>
        <ul class="searList clearFixed">
            <li><a href="">热门搜索 :</a></li>
            <li><a href="">24小时极速入职</a></li>
            <li><a href="">名企校招早班车</a></li>
            <li><a href="">Java面试</a></li>
            <li><a href="">架构设计</a></li>
            <li><a href="">数据分析</a></li>
            <li><a href="">PHP</a></li>
            <li><a href="">C++</a></li>
        </ul>
    </div>
</div>