{% load job_tags %}
{% load cache %}
<div class="conBox fl joblist">
    <p class="job clearFixed">

        <span class="jobTxt" rel="bookmark">
        <a class="jobTxt fl" href="{{ company.get_absolute_url }}">{{company.company_name }}</a>
        </span>
        <img class="fl chat-icon" src="../static/img/icon_chat.png" alt=""/>
    </p>
    <p class="btn btn2">{{ company.get_company_scale_display }}/{{ company.get_company_finance_display }}/{{ job.company.get_company_class_display }}</p>
    <div class="company-logo clearFixed">
        <img src="../static/img/con2.png" class="fl" alt=""/>
    </div>
</div>