{% load job_tags %}
{% load cache %}
<div class="banner">
        <div class="bannCon mian clearFixed">
            <div class="banLeft fl">
                <ul class="banList">
                    <li>
                        <a href="">技术</a>
                        <a href="">Java</a>
                        <a href="">PHP</a>
                        <a href="">区块链</a>
                        <span class="fr">&gt;</span>
                    </li>
                    <li>
                        <a href="">技术</a>
                        <a href="">Java</a>
                        <a href="">PHP</a>
                        <a href="">区块链</a>
                        <span class="fr">&gt;</span>
                    </li>
                    <li>
                        <a href="">技术</a>
                        <a href="">Java</a>
                        <a href="">PHP</a>
                        <a href="">区块链</a>
                        <span class="fr">&gt;</span>
                    </li>
                    <li>
                        <a href="">技术</a>
                        <a href="">Java</a>
                        <a href="">PHP</a>
                        <a href="">区块链</a>
                        <span class="fr">&gt;</span>
                    </li>
                    <li>
                        <a href="">技术</a>
                        <a href="">Java</a>
                        <a href="">PHP</a>
                        <a href="">区块链</a>
                        <span class="fr">&gt;</span>
                    </li>
                    <li>
                        <a href="">技术</a>
                        <a href="">Java</a>
                        <a href="">PHP</a>
                        <a href="">区块链</a>
                        <span class="fr">&gt;</span>
                    </li>
                    <li>
                        <a href="">技术</a>
                        <a href="">Java</a>
                        <a href="">PHP</a>
                        <a href="">区块链</a>
                        <span class="fr">&gt;</span>
                    </li>

                </ul>
            </div>
            <div class="banRight fr">
                <div class="banImgBox">
                    <img src="../static/img/banner.JPG" class="banImg" alt=""/>
                </div>
                <span class="btnLeft">&lt;</span>
                <span class="btnRight">&gt;</span>
            </div>
        </div>
    </div>